<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Cpanel TMQ</title>

    <meta name="description" content="Admin Cpanel TMQ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" th:href="@{/css/admin/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/css/admin/style.css}">

    <!-- External CSS files -->
    <link rel="stylesheet" th:href="@{/webjars/normalize.css/8.0.0/normalize.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/lykmapipo/themify-icons/0.1.2/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/webjars/pixeden-stroke-7-icon/1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/flag-icon-css/3.2.0/css/flag-icon.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/chartist/0.11.0/chartist.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/jqvmap/1.5.1/dist/jqvmap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/weathericons/2.1.0/css/weather-icons.css}">
    <link rel="stylesheet" th:href="@{/webjars/fullcalendar/3.9.0/dist/fullcalendar.min.css}">

    <!-- jQuery library -->
    <script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>    <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        var pathname = window.location.pathname;
        $('.nav navbar-nav > li > a[href="'+pathname+'"]').parent().addClass('active');
    });
    /*]]>*/
</script>

    <style>
        #weatherWidget .currentDesc {
            color: #ffffff!important;
        }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
            height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    </style>
</head>

<body th:body>
<aside  id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div th:fragment="commonAside" id="main-menu" class="main-menu collapse navbar-collapse">

        <ul class="nav navbar-nav">
                <li>
                    <a href="/admin"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-title">Quản lý chuyên mục</li><!-- /.menu-title -->
                <li>
                    <a href="chuyen-muc.html"> <i class="menu-icon fa fa-list-ol"></i>Chuyên mục </a>
                </li>
                <li>
                    <a href="../truyen/add.html"> <i class="menu-icon fa fa-pencil"></i>Đăng truyện</a>
                </li>
                <li>
                    <a href="../truyen/add-chuong.html"> <i class="menu-icon fa fa-pencil"></i>Đăng chương</a>
                </li>

                <li>
                    <a href="../truyen/list.html"> <i class="menu-icon  fa  fa-list-alt"></i>Quản lý truyện tranh</a>
                </li>
                <li class="menu-title">Quản lý dịch vụ</li><!-- /.menu-title -->


                <li class="menu-title">Thành viên</li><!-- /.menu-title -->

                <li>
                    <a href="quan-tri-vien.html"> <i class="menu-icon ti-user"></i>Quản trị viên </a>
                </li>
                <li>
                    <a href="cong-tac-vien.html"> <i class="menu-icon fa fa-user-md"></i>Cộng tác viên</a>
                </li>
                <li>
                    <a href="thanh-vien.html"> <i class="menu-icon  fa  fa-users"></i>Thành viên</a>
                </li>
                <li class="menu-title">Lịch sử hoạt động</li><!-- /.menu-title -->

                <li>
                    <a href="lich-su.html"> <i class="menu-icon fa fa-history"></i>Lịch sử đăng truyện</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>

<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="./"><img width="25%" src="#" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>

                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">3</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="notification">
                            <p class="red">You have 3 Notification</p>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-check"></i>
                                <p>Server #1 overloaded.</p>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-info"></i>
                                <p>Server #2 overloaded.</p>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <i class="fa fa-warning"></i>
                                <p>Server #3 overloaded.</p>
                            </a>
                        </div>
                    </div>

                    <div class="dropdown for-message">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-envelope"></i>
                            <span class="count bg-primary">0</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="message">
                            <p class="red">Bạn có 0 thư</p>

                        </div>
                    </div>
                </div>

                <div class="user-area dropdown float-right">
                    <a href="" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="/profile/info.html"><i class="fa fa- user"></i>My Profile</a>



                        <a class="nav-link" href=""><i class="fa fa -cog"></i>Settings</a>

                        <a class="nav-link" href=""><i class="fa fa-power -off"></i>Về Shop</a>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <label>Thống kê chung <a href="doi-mat-khau.html"><b style="color:red">Đổi mật khẩu</b></a></label>

            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="pe-7s-cash"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">1363890</span></div>
                                        <div class="stat-heading">Doanh thu</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <i class="pe-7s-cart"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">7</span></div>
                                        <div class="stat-heading">Đã bán acc</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">28</span></div>
                                        <div class="stat-heading">Tổng số acc</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-4">
                                    <i class="pe-7s-users"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">9</span></div>
                                        <div class="stat-heading">Thành viên</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="ti-money"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">2191128805</span></div>
                                        <div class="stat-heading">Doanh thu ước tính</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <i class="ti-credit-card"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">2191128805</span></div>
                                        <div class="stat-heading">Doanh thu nạp thẻ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <i class="ti-shopping-cart-full"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">6</span></div>
                                        <div class="stat-heading">Tổng số giao dịch</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-4">
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">2191128805</span></div>
                                        <div class="stat-heading">Đơn hàng dịch vụ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Widgets -->
            <!-- Widgets  -->
            <label>Thống kê ngày</label>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-1">
                                    <i class="pe-7s-cash"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count"></span></div>
                                        <div class="stat-heading">Doanh thu</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <i class="pe-7s-cart"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">0</span></div>
                                        <div class="stat-heading">Nick đã bán</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">0</span></div>
                                        <div class="stat-heading">Số account</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-4">
                                    <i class="pe-7s-users"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">0</span></div>
                                        <div class="stat-heading">Thành viên</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <i class="ti-credit-card"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count"></span></div>
                                        <div class="stat-heading">Doanh thu nạp thẻ</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-3">
                                    <i class="ti-shopping-cart-full"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">0</span></div>
                                        <div class="stat-heading">Giao dịch hôm nay</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!-- /Widgets -->

            <div class="clearfix"></div>
            <!-- Orders -->
            <div class="orders">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="box-title">Giao dịch gần đây </h4>
                            </div>
                            <div class="card-body--">
                                <div class="table-stats order-table ov-h">
                                    <table class="table ">
                                        <thead>
                                        <tr>
                                            <th class="serial">#</th>
                                            <th class="avatar">Avatar</th>

                                            <th>Name</th>
                                            <th>Loại truyện</th>
                                            <th>Giá tiền</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="serial">1.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle" src="https://graph.facebook.com/huynhadmin/picture?width=200&height=200" alt=""></a>
                                                </div>
                                            </td>

                                            <td>huynhadmin </td>
                                            <td>Võ Luyện Đỉnh Phong </td>
                                            <td><span class=" badge badge-complete count">45000</span></td>

                                        </tr>
                                        <tr>
                                            <td class="serial">2.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle" src="https://graph.facebook.com/huynhadmin/picture?width=200&height=200" alt=""></a>
                                                </div>
                                            </td>

                                            <td>huynhadmin </td>
                                            <td>Liên minh huyền thoại </td>
                                            <td><span class=" badge badge-complete count">123456</span></td>

                                        </tr>
                                        <tr>
                                            <td class="serial">3.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle" src="https://graph.facebook.com/Dibovuotrau/picture?width=200&height=200" alt=""></a>
                                                </div>
                                            </td>

                                            <td> </td>
                                            <td>Liên minh huyền thoại </td>
                                            <td><span class=" badge badge-complete count">345434</span></td>

                                        </tr>
                                        <tr>
                                            <td class="serial">4.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle" src="https://graph.facebook.com/dung12/picture?width=200&height=200" alt=""></a>
                                                </div>
                                            </td>

                                            <td> </td>
                                            <td>Liên minh huyền thoại </td>
                                            <td><span class=" badge badge-complete count">250000</span></td>

                                        </tr>
                                        <tr>
                                            <td class="serial">6.</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle" src="https://graph.facebook.com/hieuadmin/picture?width=200&height=200" alt=""></a>
                                                </div>
                                            </td>

                                            <td>Khải đẹp trai </td>
                                            <td>Liên minh huyền thoại </td>
                                            <td><span class=" badge badge-complete count">250000</span></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div> <!-- /.table-stats -->
                            </div>
                        </div> <!-- /.card -->
                    </div>  <!-- /.col-lg-8 -->


                </div>
            </div>
            <!-- /.orders -->

            <!-- /#add-category -->
        </div>
    </div>

    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2023 Admin Cpanel
                </div>
                <div class="col-sm-6 text-right">
                    Designed by <a href="">Huynh Can</a>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
