<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Cpanel TMQ</title>

    <meta name="description" content="Admin Cpanel TMQ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="">
    <link rel="shortcut icon" href="">
    <link rel="stylesheet" th:href="@{/css/admin/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/css/admin/style.css}">

    <!-- External CSS files -->
    <link rel="stylesheet" href="/css/admin/cs-skin-elastic.css">
    <link rel="stylesheet" href="/css/admin/style.css">
    <!-- Sử dụng CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="...">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" href="/css/admin/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="/css/admin/cs-skin-elastic.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


    <style>
        #weatherWidget .currentDesc {
            color: #ffffff !important;
        }

        .traffic-chart {
            min-height: 335px;
        }

        #flotPie1 {
            height: 150px;
        }

        #flotPie1 td {
            padding: 3px;
        }

        #flotPie1 table {
            top: 20px !important;
            right: -10px !important;
        }

        .chart-container {
            display: table;
            min-width: 270px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        #flotLine5 {
            height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }

        #cellPaiChart {
            height: 160px;
        }

    </style>
</head>

<body th:body>
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/admin"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-title">Quản lý chuyên mục</li><!-- /.menu-title -->
                <li>
                    <a href="/admin/them-the-loai"> <i class="menu-icon fa fa-list-ol"></i>Thêm thể loại</a>
                </li>
                <li>
                    <a href="truyen/add"> <i class="menu-icon fa fa-pencil"></i>Đăng truyện</a>
                </li>
                <li>
                    <a href="truyen/add-chuong"> <i class="menu-icon fa fa-pencil"></i>Đăng chương</a>
                </li>

                <li>
                    <a href="truyen/list"> <i class="menu-icon  fa  fa-list-alt"></i>Danh sách truyện tranh</a>
                </li>

                <li class="menu-title">Thành viên</li><!-- /.menu-title -->

                <li>
                    <a href="/admin/qtv"> <i class="menu-icon ti-user"></i>Quản lý User</a>
                </li>
                <li>
                    <a href="/admin/ctv"> <i class="menu-icon fa fa-user-md"></i>Quản Lý Cộng tác viên</a>
                </li>
                <li>
                    <a href="/admin/nap-tien"> <i class="menu-icon  fas fa-coins"></i>Nạp Tiền</a>
                </li>
                <li class="menu-title">Lịch sử hoạt động</li><!-- /.menu-title -->

                <li>
                    <a href="/admin/lich-su"> <i class="menu-icon fa fa-history"></i>Lịch sử giao dịch</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>

<div id="right-panel" class="right-panel">
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img style="width: 15%" src="/img/Logo.png" alt="Logo"></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="user-area dropdown float-right">
                    <a href="../profile" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="https://img.freepik.com/free-vector/businessman-character-avatar-isolated_24877-60111.jpg" alt="User Avatar">
                    </a>

                </div>

            </div>
        </div>
    </header>

    <div class="content">
        <!-- Animated -->
        <div th:if="${not #lists.isEmpty(users)}">
            <div th:each="user : ${users}"
                 style="display: inline-block; width: 20%; margin: 10px; text-align: center;">
                <div style="border: 1px solid #ccc; padding: 10px;">
                    <img th:src="@{/img/user.png}" style="font-size: 24px;" alt="">
                    <div th:text="${user != null ? user.id : 'N/A'}"></div>
                    <div th:text="${user != null ? user.getDisplayname() : 'N/A'}"></div>
                    <div th:text="${user != null ? user.getSoDu() : 'N/A'}"></div>
                    <form th:action="@{'ctv/'+${user.id}+'/deRoles'}" method="post" onsubmit="return confirm('Bạn có chắc chắn muốn cho User thành CTV ?');">
                        <button type="submit" class="btn btn-light">Hạ xuống User</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Page break after every 20 users -->
</div>
<!-- /Widgets -->
<footer class="site-footer">
    <div class="footer-inner bg-white">
        <div class="row">
            <div class="col-sm-6">
                Copyright &copy; 2023 Admin Cpanel
            </div>
            <div class="col-sm-6 text-right">
                Designed by <a href="">Huynh Can</a>
            </div>
        </div>
    </div>
</footer>



</body>
</html>
