<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin Cpanel TMQ</title>
    <meta name="description" content="Admin Cpanel TMQ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{/admin/images/favicon.png}">
    <link rel="shortcut icon" th:href="@{/admin/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/admin/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/css/admin/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
    <link rel="stylesheet" th:href="@{/css/admin/bootstrap.min.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
    <link rel="stylesheet" th:href="@{/css/admin/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/css/admin/style.css}">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link th:href="@{/css/admin/cs-skin-elastic.css}" href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
    <link th:href="@{/css/admin/cs-skin-elastic.css}" href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">
    <link th:href="@{/css/admin/cs-skin-elastic.css}" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/scss/mixins/_alert.scss" rel="stylesheet">

    <link th:href="@{/css/admin/cs-skin-elastic.css}" href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
    <link th:href="@{/css/admin/cs-skin-elastic.css}" href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js}"></script>
    <script th:src="@{/ckeditor/ckeditor/ckeditor.js}" type="text/javascript" ></script>
    <style>
        body {  margin: 0;}
        ul {  list-style-type: none;
            margin: 0;
            padding: 0;
            width: 25%;
            background-color:
                    #c8c9ce;  position: fixed;
            height: 100%;  overflow: auto;}
        li a {   display: block;  color: #000;  padding: 8px 16px;  text-decoration: none;}
        li a.active {  background-color: #58257b;  font-weight: bold;  color: white;}
        li a:hover:not(.active) {  background-color: #db7093;  font-weight: bold;  color: white;}
        /* Phần bên phải */

        .right-panel {
            width: 75%;
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: lightgrey;
            overflow: auto;
        }

        .right-panel h3 {
            margin-top: 0;
        }

        .right-panel .form-group {
            margin-bottom: 10px;
        }

        .right-panel .form-control {
            width: 100%;
        }

        .right-panel .btn {
            margin-top: 10px;
        }

    </style></head>

<script th:inline="javascript">
    $(document).ready(function() {
        // Xử lý khi form được submit
        $("#form").submit(function(e) {
            // Lấy dữ liệu từ form
            var tenTruyen = $("#ten-truyen").val();
            var tacGia = $("#tac-gia").val();
            var theLoai = $("#the-loai").val();
            var moTa = $("#mo-ta").val();
            var urlAnh = $("#url-anh").val();

            // Gửi dữ liệu lên server
            $.ajax({
                url: "/api/push-truyen-tranh",
                type: "post",
                data: {
                    tenTruyen: ten_truyen,
                    tacGia: TacGia,
                    theLoai: theLoai,
                    moTa: moTa,
                    urlAnh: urlAnh
                },
                success: function(response) {
                    // Hiển thị thông báo thành công
                    alert("Đẩy dữ liệu lên database thành công!");
                },
                error: function(error) {
                    // Hiển thị thông báo lỗi
                    alert(error.responseText);
                }
            });

            // Ngăn không cho form submit
            e.preventDefault();
        });
    });

</script>

<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav" >
                <li>
                    <a class=" active" th:href="@{/admin}" href="#" ><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
                </li>
                <li class="menu-title">Quản lý chuyên mục</li><!-- /.menu-title -->
                <li>
                    <a th:href="@{/admin}" > <i class="menu-icon fa fa-list-ol"></i>Chuyên mục </a>
                </li>
                <li>
                    <a th:href="@{/admin}"> <i class="menu-icon fa fa-pencil"></i>Đăng truyện</a>
                </li>
                <li>
                    <a th:href="@{/DangTruyen.html}" > <i class="menu-icon fa fa-pencil"></i>Đăng truyện tranh</a>
                </li>
                <li>
                    <a th:href="@{/admin}"> <i class="menu-icon  fa  fa-list-alt"></i>Danh sách truyện tranh</a>
                </li>
                <li class="menu-title">Quản lý dịch vụ</li><!-- /.menu-title -->
                <li>
                    <a th:href="@{/admin} " > <i class="menu-icon fa fa-money"></i>Nạp tiền</a>
                </li>
                <li>
                    <a th:href="@{/admin} "  > <i class="menu-icon fa fa-money"></i>Rút tiền</a>
                </li>


                <li class="menu-title">Thành viên</li><!-- /.menu-title -->

                <li>
                    <a th:href="@{/admin}"> <i class="menu-icon ti-user"></i>Quản trị viên </a>
                </li>
                <li>
                    <a th:href="@{/admin}"> <i class="menu-icon fa fa-user-md"></i>Cộng tác viên</a>
                </li>
                <li>
                    <a th:href="@{/admin}"> <i class="menu-icon  fa  fa-users"></i>Thành viên</a>
                </li>
                <li class="menu-title">Lịch sử hoạt động</li><!-- /.menu-title -->

                <li>
                    <a th:href="@{/admin}"> <i class="menu-icon fa fa-history"></i>Lịch sử giao dịch</a>
                </li>

                <li>
                    <a th:href="@{/admin}"> <i class="menu-icon fa fa-bar-chart-o"></i>Biến đổi số dư</a>
                </li>
                <li class="menu-title">Cài đặt shop</li><!-- /.menu-title -->

                <li>
                    <a th:href="@{/admin}"> <i class="menu-icon ti-settings"></i>Thông tin shop </a>
                </li>
                <li>
                    <a th:href="@{/admin}"> <i class="menu-icon ti-settings"></i>Quản Lý Banner</a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->


</aside>
<--Right Panel-->
<section>
    <div class="right-panel">
        <h3>Đẩy dữ liệu truyện tranh lên database</h3>

        <form action="/api/push-truyen-tranh" method="post">
            <div class="form-group">
                <label for="ten-truyen">Tên truyện</label>
                <input type="text" class="form-control" id="ten-truyen" name="ten-truyen" />
            </div>

            <div class="form-group">
                <label for="tac-gia">Tác giả</label>
                <input type="text" class="form-control" id="tac-gia" name="tac-gia" />
            </div>

            <div class="form-group">
                <label for="the-loai">Thể loại</label>
                <input type="text" class="form-control" id="the-loai" name="the-loai" />
            </div>

            <div class="form-group">
                <label for="mo-ta">Mô tả</label>
                <textarea class="form-control" id="mo-ta" name="mo-ta"></textarea>
            </div>

            <div class="form-group">
                <label for="url-anh">URL ảnh</label>
                <input type="text" class="form-control" id="url-anh" name="url-anh" />
            </div>

            <button type="submit" class="btn btn-primary">Đẩy lên</button>
        </form>
    </div>
</section>


</body>
</html>
