<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
<head>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <meta charset="UTF-8">
    <title>Nội dung chương</title>
    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/login/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/style.css}" type="text/css">
    <!-- Sử dụng CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="...">

</head>
<body>
    <button th:onclick="topFunction()" th:id="toTop">Top</button>
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a th:href="@{/}">
                            <img th:src="@{img/Logo.png}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li ><a href="/">Homepage</a></li>
                                <li><a href="http://localhost:8888/category">Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="http://localhost:8888/category">Categories</a></li>
                                        <li><a th:href="@{/Register}">Sign Up</a></li>
                                        <li><a th:href="@{/login}">Login</a></li>
                                    </ul>
                                </li>
                                <li><a href="../review">Review</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                <div class="header__right">
                    <a href="/search" class="search-switch"><span class="fas fa-search"></span></a>
                    <div class="dropdown-user">
                        <!-- Hiển thị icon khóa nếu chưa đăng nhập -->
                        <a sec:authorize="!isAuthenticated()" th:href="@{/login}"><span class="fas fa-lock"></span></a>
                        <!-- Hiển thị icon mở khóa và menu khi đã đăng nhập -->
                        <button class="dropbtn" sec:authorize="isAuthenticated()">
                            <span class="fas fa-lock-open"></span>
                        </button>
                        <div class="dropdown-content">
                            <!-- Thông tin cá nhân -->
                            <a class="fas fa-user" sec:authorize="isAuthenticated()" th:href="@{/profile}">Thông tin cá nhân</a>
                            <!-- Chuyển trang CTV -->
                            <a class="fas fa-pen" sec:authorize="isAuthenticated()" th:href="@{'/CTV/'+${#authentication.principal?.id}+'/CTV-list'}">Cộng tác viên</a>
                            <!-- Đăng xuất -->
                            <a sec:authorize="isAuthenticated()" href="/logout">Đăng xuất</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!--    Thanh chuyển chương-->
    <div class="container">
        <div class="reading-control">
            <div class="chapter-nav" id="chapterNav">
                <a class="home" th:href="@{/}" title="Trang chủ"><i class="fas fa-home"></i>
                </a>
                <i class=" space fas fa-chevron-right"></i>
                <a th:href="'/truyen/' + ${truyen.id} " th:text="${truyen.tenTruyen}"></a>
                <a th:if="${chuongTruoc != null}" th:href="@{'/truyen/' + ${chuongTruoc.truyen?.id} + '/chuong/' + ${chuongTruoc.id}}" class="prev a_prev">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <select name="ctl00$mainContent$ddlSelectChapter" id="ddlSelectChapter" class="select-chapter" onchange="changeChapter(this)">
                    <option th:each="chuong : ${chuong}"
                            th:value="'/truyen/' + ${chuong.truyen.id} + '/chuong/' + ${chuong.id}"
                            th:text="${chuong.tenChuong}"
                            th:selected="${chuongHienTai != null and chuong.id == chuongHienTai.id}">

                        <!-- Kiểm tra xem chuongHienTai có tồn tại và có chứa danh sách chương hay không -->
                        <th:block th:if="${chuongHienTai != null and chuongHienTai.size() > 0}">

                            <p th:text="${chuongHienTai[0].id}"></p>
                        </th:block>
                    </option>
                </select>

                <a th:if="${chuongSau != null}" th:href="@{'/truyen/' + ${chuongSau.truyen?.id} + '/chuong/' + ${chuongSau.id}}"
                class="next a_next disabled"><i class="fa fa-chevron-right"></i></a>
            </div>
        </div>
        <!--Content Truyen-->
        <div class="content" style="text-align: center;">
            <th:block th:each="image, stat : ${anh}">
                <div class="image-container" style="margin-bottom: 20px;">
                    <img th:src="@{'/Truyen/'+${image.getDuongDan()}}"
                         class="lazy-image"
                         alt=""
                    >
                </div>
            </th:block>
        </div>

        <div class="bottom">
            <div class="chapter-nav-bottom text-center" id="chapterNavBottom">
                <a th:if="${chuongTruoc != null}" th:href="@{'/truyen/' + ${chuongTruoc.truyen?.id} + '/chuong/' + ${chuongTruoc.id}}"
                class="btn btn-danger prev"><em class="fa fa-chevron-left"></em> Chap trước</a>
                <a th:if="${chuongSau != null}" th:href="@{'/truyen/' + ${chuongSau.truyen?.id} + '/chuong/' + ${chuongSau.id}}"
                   class="btn btn-danger next">Chap sau <em class="fa fa-chevron-right"></em></a>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a th:href="@{/}"><img th:src="@{img/Logo.png}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a th:href="@{/}">Homepage</a></li>
                            <li><a href="./categories.html">Categories</a></li>
                            <li><a href="./blog.html">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Js Plugins -->
    <script th:src="@{/js/login/jquery-3.3.1.min.js}"></script>
    <script th:src="@{/js/login/bootstrap.min.js}"></script>
    <script th:src="@{/js/login/player.js}"></script>
    <script th:src="@{/js/login/jquery.nice-select.min.js}"></script>
    <script th:src="@{/js/login/mixitup.min.js}"></script>
    <script th:src="@{/js/login/jquery.slicknav.js}"></script>
    <script th:src="@{/js/login/owl.carousel.min.js}"></script>
    <script th:src="@{/js/login/main.js}"></script>
<!--    Back to top button-->
    <script>
        // Khởi tạo nút
        let mybutton = document.getElementById("toTop");

        // Hiện nút khi người dụng cuộn xuống 20px
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script>
        function changeChapter(select) {
            var selectedOption = select.options[select.selectedIndex];
            var chapterUrl = selectedOption.value;
            window.location.href = chapterUrl;
        }
    </script>
  <script>
      // Gọi hàm khi trang được load lại
      window.onload = function() {
      // Lấy giá trị chương từ URL sau khi trang được load
          let chuongMoiId = layChuongTuURL();

      // Gán lại giá trị đã chọn cho dropdown
          let dropdown = document.getElementById("ddlSelectChapter");
      dropdown.value = '/truyen/' + chuongMoiId + '/chuong/' + chuongMoiId;

      // Thêm sự kiện change cho dropdown
      dropdown.addEventListener("change", function() {
      chuyenTrang();
  });
  };

      function layChuongTuURL() {
      // Lấy đoạn chương từ URL (ví dụ: "/truyen/1/chuong/2" sẽ trả về "2")
          let url = window.location.href;
          let chuongIndex = url.lastIndexOf("/chuong/") + 8;
      return url.substring(chuongIndex);
  }

      function chuyenTrang() {
      // Lấy giá trị đã chọn
      let selectedValue = document.getElementById("ddlSelectChapter").value;

      // Chuyển hướng đến trang mới
      window.location.href = selectedValue;
  }
  </script>
    <script th:inline="javascript">
        function incrementViewCount(chapterId) {
            // Gọi hàm để tăng lượt xem ở phía server
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/view-count', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                }
            };

            // Gửi dữ liệu đến server
            xhr.send('chapterId=' + encodeURIComponent(chapterId));
        }

        window.addEventListener('DOMContentLoaded', function() {
            // Gọi hàm để tăng lượt xem khi trang được tải
            incrementViewCount();
        });

        // Gọi hàm khi chuyển chương
        document.getElementById('ddlSelectChapter').addEventListener('change', function() {
            incrementViewCount();
        });
    </script>

</body>
</html>