<!DOCTYPE html>
<html lang="vi"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Manga Template">
    <meta name="keywords" content="Manga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Manga | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" th:href="@{/css/login/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/font-awesome.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/elegant-icons.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/plyr.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/nice-select.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/owl.carousel.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/slicknav.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/style.css}" type="text/css">
    <!-- Sử dụng CDN -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="...">

</head>

<body>
<button th:onclick="topFunction()" th:id="toTop">Top</button>
<!-- Page Preloder -->
<div id="preloder">
    <div class="loader"></div>
</div>

<!-- Header Section Begin -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <div class="header__logo">
                    <a href="/">
                        <img th:src="@{img/Logo.png}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li class="active"><a href="./">Homepage</a></li>
                            <li><a href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>
                                <ul class="dropdown">
                                    <li><a href="./categories.html">Categories</a></li>
                                    <li><a href="truyenDetail.html">Manga Details</a></li>
                                    <li><a href="./anime-watching.html">Manga Watching</a></li>
                                    <li><a href="./blog-details.html">Blog Details</a></li>
                                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/Register}">Sign Up</a></li>
                                    <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}" class="fas fa-user">Login</a>
                                    </li>
                                </ul>
                            </li>
                            <li><a href="./blog.html">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="header__right">
                    <a href="#" class="search-switch"><span class="fas fa-search"></span></a>
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}"><span class="icon_profile"></span></a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/profile}"><span class="fas fa-user"></span></a>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>
<!-- Header End -->

<!-- Hero Section Begin -->
<section class="hero">
    <div class="container">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" th:attr="data-setbg=@{/img/hero/hero-1.jpg}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero__items set-bg" th:attr="data-setbg=@{/img/normal-breadcrumb.jpg}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <div class="label">Adventure</div>
                            <h2>Fate / Stay Night: Unlimited Blade Works</h2>
                            <p>After 30 days of travel across the world...</p>
                            <a href="#"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="trending__product">
                    <div class="row">
                        <div class="col-lg-8 col-md-8 col-sm-8">
                            <div class="section-title">
                                <h4>Mới Cập Nhật </h4>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="btn__all">
                                <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div th:each="item : ${topTruyenList}" class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg"
                                     th:data-setbg="'/Truyen/'+${item.avatarFileName}">
                                    <div class="ep" th:text="${item.soChuong}"></div>
                                    <div class="comment"><i class="fa fa-eye"></i> <span
                                            th:text="${item.soView}"></span></div>
                                    <div class="view"><i class=" fas fa-thumbs-up"></i> <span
                                            th:text="${item.soLike}"></span></div>
                                </div>
                                <div class="product__item__text">
                                    <ul>
                                        <li th:text="${item.category.tenTheLoai}"></li>
                                        <li th:text="${item.trangThaiTruyenid.tentrangthai}"></li>
                                    </ul>
                                    <h5><a th:href="@{'/truyen/' + ${item.id}}" th:text="${item.tenTruyen}"></a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Truyện Mới Đăng</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div th:each="newitem : ${topTruyenMoiDangList}" class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg"
                                         th:data-setbg="'/Truyen/'+${newitem.avatarFileName}">
                                        <div class="ep" th:text="${newitem.soChuong}"></div>
                                        <div class="comment"><i class="fa fa-eye"></i> <span
                                                th:text="${newitem.soView}"></span></div>
                                        <div class="view"><i class=" fas fa-thumbs-up"></i> <span
                                                th:text="${newitem.soLike}"></span></div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li th:text="${newitem.category.tenTheLoai}"></li>
                                            <li th:text="${newitem.trangThaiTruyenid.tentrangthai}"></li>
                                        </ul>
                                        <h5><a th:href="@{'/truyen/' + ${newitem.id}}"
                                               th:text="${newitem.tenTruyen}"></a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Views</h5>
                            </div>
                            <ul class="filter__controls">
                                <li class="active" data-filter="*">Day</li>
                                <li data-filter=".week">Week</li>
                                <li data-filter=".month">Month</li>
                            </ul>
                            <div class="filter__gallery">
                                <div th:each="item, status : ${topViewsLists}"
                                     class="product__sidebar__view__item set-bg mix"
                                     th:class="${status.index % 2 == 0} ? 'day' : 'week'"
                                     th:data-setbg="'/Truyen/'+${item.avatarFileName}">
                                    <div class="ep" th:text="${item.soChuong}"></div>
                                    <div class="view"><i class="fa fa-eye"></i> <span th:text="${item.soView}"></span></div>
                                    <h5><a th:href="@{'/truyen/' + ${item.id}}" th:text="${item.tenTruyen}"></a></h5>
                                </div>
                            </div>
                        </div>

                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Views</h5>
                            </div>
                            <div class="filter__gallery">
                                <div th:each="item, status : ${topLikeLists}"
                                     class="product__sidebar__view__item set-bg mix"
                                     th:class="${status.index % 2 == 0} ? 'day' : 'week'"
                                     th:data-setbg="'/Truyen/'+${item.avatarFileName}">
                                    <div class="ep" th:text="${item.soChuong}"></div>
                                    <div class="view"><i class="fas fa-thumbs-up"></i> <span th:text="${item.soLike}"></span></div>
                                    <h5><a th:href="@{'/truyen/' + ${item.id}}" th:text="${item.tenTruyen}"></a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Product Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="page-up">
        <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="footer__logo">
                    <a th:href="@{/}">
                        <img th:src="@{img/Logo.png}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer__nav">
                    <ul>
                        <li class="active"><a th:href="@{/}">Homepage</a></li>
                        <li><a href="./categories.html">Categories</a></li>
                        <li><a href="./preview.html">Preview </a></li>
                        <li><a href="#">Contacts</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search model Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->

<!-- Js Plugins -->
<script th:src="@{/js/login/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/login/bootstrap.min.js}"></script>
<script th:src="@{/js/login/player.js}"></script>
<script th:src="@{/js/login/jquery.nice-select.min.js}"></script>
<script th:src="@{/js/login/mixitup.min.js}"></script>
<script th:src="@{/js/login/jquery.slicknav.js}"></script>
<script th:src="@{/js/login/owl.carousel.min.js}"></script>
<script th:src="@{/js/login/main.js}"></script>
<!--    Back to top button-->
<script>
    // Khởi tạo nút
    let mybutton = document.getElementById("toTop");

    // Hiện nút khi người dụng cuộn xuống 20px
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

</body>

</html>